In [52]:
print(pd.__version__)

2.2.2

In [2]:
import pandas as pd

In [30]:
mydata = {'toyota' : ["innova", "crista", "supra"],
           'model' : [2009, 2018, 2010]}

data = pd.DataFrame(mydata)

print(data)

   toyota  model
0  innova   2009
1  crista   2018
2   supra   2010

In [36]:
list1 = [67,43,67,89]

df = pd.DataFrame(list1)

df

    0
0  67
1  43
2  67
3  89

In [72]:
list1 = [["Rinshan",2006],
         ["mufeed",2004],
         ["Farhan",2000]]
df = pd.DataFrame(list1,columns = ["NAME","DOB"])

df

      NAME   DOB
0  Rinshan  2006
1   mufeed  2004
2   Farhan  2000

# Label / Create Labels

In [11]:
# Label

a = [1, 7, 4]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    4
dtype: int64

In [78]:
a = [1, 7, 4]

myvar = pd.Series(a)

print(myvar[1])

7

In [13]:
# Create Labels

a = [1, 7, 4]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    4
dtype: int64

In [5]:
a = [1, 7, 4]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar["y"])

7

# Key / Value Objects as Series

In [7]:
x = {"Day-1": 420, "Day-2": 380, "Day-3": 390}

myvar = pd.Series(x)

print(myvar)

Day-1    420
Day-2    380
Day-3    390
dtype: int64

In [15]:
x = {"Day-1": 420, "Day-2": 380, "Day-3": 390}

myvar = pd.Series(x, index = ["Day-1", "Day-3"])

print(myvar)

Day-1    420
Day-3    390
dtype: int64

In [68]:
x = {1: "Rinshan", 2: "Mufeed", 3: "Farhan", 4: "Athul"}

myvar = pd.Series(x)

print(myvar)

1    Rinshan
2     Mufeed
3     Farhan
4      Athul
dtype: object

In [70]:
x = {1: "Rinshan", 2: "Mufeed", 3: "Farhan", 4: "Athul"}

myvar = pd.Series(x, index = [2,4])

print(myvar)

2    Mufeed
4     Athul
dtype: object

In [86]:
data = {"Batch - D": ["Rinshan", "Mufeed", "Farhan", "Athul"],
        "Batch - f": ["Saifu", "Shan", "Safvan", "Yethu"]}

df = pd.DataFrame(data)

print(df)

  Batch - D Batch - f
0   Rinshan     Saifu
1    Mufeed      Shan
2    Farhan    Safvan
3     Athul     Yethu

In [94]:
# Locate Rows

data = {"Batch - D": ["Rinshan", "Mufeed", "Farhan", "Athul"],
        "Batch - f": ["Saifu", "Shan", "Safvan", "Yethu"]}

df = pd.DataFrame(data)

print(df.loc[[1]])

  Batch - D Batch - f
1    Mufeed      Shan

In [98]:
data = {"Batch - D": ["Rinshan", "Mufeed", "Farhan", "Athul"],
        "Batch - f": ["Saifu", "Shan", "Safvan", "Yethu"]}

df = pd.DataFrame(data, index = ["first", "second", "third", "fourth"])

print(df)

       Batch - D Batch - f
first    Rinshan     Saifu
second    Mufeed      Shan
third     Farhan    Safvan
fourth     Athul     Yethu

In [114]:
# Locate Named indexes

data = {"Batch - D": ["Rinshan", "Mufeed", "Farhan", "Athul"],
        "Batch - f": ["Saifu", "Shan", "Safvan", "Yethu"]}

df = pd.DataFrame(data, index = ["first", "second", "third", "fourth"])

print(df.loc[["first"]])

      Batch - D Batch - f
first   Rinshan     Saifu

# CSV / JSON

In [5]:
df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [7]:
df = pd.read_csv('data.csv')

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [9]:
print(pd.options.display.max_rows)

60

In [11]:
pd.options.display.max_rows = 999

df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [13]:
print(pd.options.display.max_rows)

999

In [7]:
# pandas read JSON

df = pd.read_json('iris.json')

print(df.to_string())

     sepalLength  sepalWidth  petalLength  petalWidth     species
0            5.1         3.5          1.4         0.2      setosa
1            4.9         3.0          1.4         0.2      setosa
2            4.7         3.2          1.3         0.2      setosa
3            4.6         3.1          1.5         0.2      setosa
4            5.0         3.6          1.4         0.2      setosa
5            5.4         3.9          1.7         0.4      setosa
6            4.6         3.4          1.4         0.3      setosa
7            5.0         3.4          1.5         0.2      setosa
8            4.4         2.9          1.4         0.2      setosa
9            4.9         3.1          1.5         0.1      setosa
10           5.4         3.7          1.5         0.2      setosa
11           4.8         3.4          1.6         0.2      setosa
12           4.8         3.0          1.4         0.1      setosa
13           4.3         3.0          1.1         0.1      setosa
14           5.8         4.0          1.2         0.2      setosa
15           5.7         4.4          1.5         0.4      setosa
16           5.4         3.9          1.3         0.4      setosa
17           5.1         3.5          1.4         0.3      setosa
18           5.7         3.8          1.7         0.3      setosa
19           5.1         3.8          1.5         0.3      setosa
20           5.4         3.4          1.7         0.2      setosa
21           5.1         3.7          1.5         0.4      setosa
22           4.6         3.6          1.0         0.2      setosa
23           5.1         3.3          1.7         0.5      setosa
24           4.8         3.4          1.9         0.2      setosa
25           5.0         3.0          1.6         0.2      setosa
26           5.0         3.4          1.6         0.4      setosa
27           5.2         3.5          1.5         0.2      setosa
28           5.2         3.4          1.4         0.2      setosa
29           4.7         3.2          1.6         0.2      setosa
30           4.8         3.1          1.6         0.2      setosa
31           5.4         3.4          1.5         0.4      setosa
32           5.2         4.1          1.5         0.1      setosa
33           5.5         4.2          1.4         0.2      setosa
34           4.9         3.1          1.5         0.2      setosa
35           5.0         3.2          1.2         0.2      setosa
36           5.5         3.5          1.3         0.2      setosa
37           4.9         3.6          1.4         0.1      setosa
38           4.4         3.0          1.3         0.2      setosa
39           5.1         3.4          1.5         0.2      setosa
40           5.0         3.5          1.3         0.3      setosa
41           4.5         2.3          1.3         0.3      setosa
42           4.4         3.2          1.3         0.2      setosa
43           5.0         3.5          1.6         0.6      setosa
44           5.1         3.8          1.9         0.4      setosa
45           4.8         3.0          1.4         0.3      setosa
46           5.1         3.8          1.6         0.2      setosa
47           4.6         3.2          1.4         0.2      setosa
48           5.3         3.7          1.5         0.2      setosa
49           5.0         3.3          1.4         0.2      setosa
50           7.0         3.2          4.7         1.4  versicolor
51           6.4         3.2          4.5         1.5  versicolor
52           6.9         3.1          4.9         1.5  versicolor
53           5.5         2.3          4.0         1.3  versicolor
54           6.5         2.8          4.6         1.5  versicolor
55           5.7         2.8          4.5         1.3  versicolor
56           6.3         3.3          4.7         1.6  versicolor
57           4.9         2.4          3.3         1.0  versicolor
58           6.6         2.9          4.6         1.3  versicolor
59           5.2         2.7          3.9         1.4  versicolor
60           5.0         2.0          3.5         1.0  versicolor
61           5.9         3.0          4.2         1.5  versicolor
62           6.0         2.2          4.0         1.0  versicolor
63           6.1         2.9          4.7         1.4  versicolor
64           5.6         2.9          3.6         1.3  versicolor
65           6.7         3.1          4.4         1.4  versicolor
66           5.6         3.0          4.5         1.5  versicolor
67           5.8         2.7          4.1         1.0  versicolor
68           6.2         2.2          4.5         1.5  versicolor
69           5.6         2.5          3.9         1.1  versicolor
70           5.9         3.2          4.8         1.8  versicolor
71           6.1         2.8          4.0         1.3  versicolor
72           6.3         2.5          4.9         1.5  versicolor
73           6.1         2.8          4.7         1.2  versicolor
74           6.4         2.9          4.3         1.3  versicolor
75           6.6         3.0          4.4         1.4  versicolor
76           6.8         2.8          4.8         1.4  versicolor
77           6.7         3.0          5.0         1.7  versicolor
78           6.0         2.9          4.5         1.5  versicolor
79           5.7         2.6          3.5         1.0  versicolor
80           5.5         2.4          3.8         1.1  versicolor
81           5.5         2.4          3.7         1.0  versicolor
82           5.8         2.7          3.9         1.2  versicolor
83           6.0         2.7          5.1         1.6  versicolor
84           5.4         3.0          4.5         1.5  versicolor
85           6.0         3.4          4.5         1.6  versicolor
86           6.7         3.1          4.7         1.5  versicolor
87           6.3         2.3          4.4         1.3  versicolor
88           5.6         3.0          4.1         1.3  versicolor
89           5.5         2.5          4.0         1.3  versicolor
90           5.5         2.6          4.4         1.2  versicolor
91           6.1         3.0          4.6         1.4  versicolor
92           5.8         2.6          4.0         1.2  versicolor
93           5.0         2.3          3.3         1.0  versicolor
94           5.6         2.7          4.2         1.3  versicolor
95           5.7         3.0          4.2         1.2  versicolor
96           5.7         2.9          4.2         1.3  versicolor
97           6.2         2.9          4.3         1.3  versicolor
98           5.1         2.5          3.0         1.1  versicolor
99           5.7         2.8          4.1         1.3  versicolor
100          6.3         3.3          6.0         2.5   virginica
101          5.8         2.7          5.1         1.9   virginica
102          7.1         3.0          5.9         2.1   virginica
103          6.3         2.9          5.6         1.8   virginica
104          6.5         3.0          5.8         2.2   virginica
105          7.6         3.0          6.6         2.1   virginica
106          4.9         2.5          4.5         1.7   virginica
107          7.3         2.9          6.3         1.8   virginica
108          6.7         2.5          5.8         1.8   virginica
109          7.2         3.6          6.1         2.5   virginica
110          6.5         3.2          5.1         2.0   virginica
111          6.4         2.7          5.3         1.9   virginica
112          6.8         3.0          5.5         2.1   virginica
113          5.7         2.5          5.0         2.0   virginica
114          5.8         2.8          5.1         2.4   virginica
115          6.4         3.2          5.3         2.3   virginica
116          6.5         3.0          5.5         1.8   virginica
117          7.7         3.8          6.7         2.2   virginica
118          7.7         2.6          6.9         2.3   virginica
119          6.0         2.2          5.0         1.5   virginica
120          6.9         3.2          5.7         2.3   virginica
121          5.6         2.8          4.9         2.0   virginica
122          7.7         2.8          6.7         2.0   virginica
123          6.3         2.7          4.9         1.8   virginica
124          6.7         3.3          5.7         2.1   virginica
125          7.2         3.2          6.0         1.8   virginica
126          6.2         2.8          4.8         1.8   virginica
127          6.1         3.0          4.9         1.8   virginica
128          6.4         2.8          5.6         2.1   virginica
129          7.2         3.0          5.8         1.6   virginica
130          7.4         2.8          6.1         1.9   virginica
131          7.9         3.8          6.4         2.0   virginica
132          6.4         2.8          5.6         2.2   virginica
133          6.3         2.8          5.1         1.5   virginica
134          6.1         2.6          5.6         1.4   virginica
135          7.7         3.0          6.1         2.3   virginica
136          6.3         3.4          5.6         2.4   virginica
137          6.4         3.1          5.5         1.8   virginica
138          6.0         3.0          4.8         1.8   virginica
139          6.9         3.1          5.4         2.1   virginica
140          6.7         3.1          5.6         2.4   virginica
141          6.9         3.1          5.1         2.3   virginica
142          5.8         2.7          5.1         1.9   virginica
143          6.8         3.2          5.9         2.3   virginica
144          6.7         3.3          5.7         2.5   virginica
145          6.7         3.0          5.2         2.3   virginica
146          6.3         2.5          5.0         1.9   virginica
147          6.5         3.0          5.2         2.0   virginica
148          6.2         3.4          5.4         2.3   virginica
149          5.9         3.0          5.1         1.8   virginica

In [9]:
# Pandas - Analyzing DataFrame

df = pd.read_csv('iris.json')

print(df.head(10))

                                                                                                  [
{"sepalLength": 5.1 "sepalWidth": 3.5 "petalLength": 1.4 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 4.9 "sepalWidth": 3.0 "petalLength": 1.4 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 4.7 "sepalWidth": 3.2 "petalLength": 1.3 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 4.6 "sepalWidth": 3.1 "petalLength": 1.5 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 5.0 "sepalWidth": 3.6 "petalLength": 1.4 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 5.4 "sepalWidth": 3.9 "petalLength": 1.7 "petalWidth": 0.4 "species": "setosa"} NaN
{"sepalLength": 4.6 "sepalWidth": 3.4 "petalLength": 1.4 "petalWidth": 0.3 "species": "setosa"} NaN
{"sepalLength": 5.0 "sepalWidth": 3.4 "petalLength": 1.5 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 4.4 "sepalWidth": 2.9 "petalLength": 1.4 "petalWidth": 0.2 "species": "setosa"} NaN
{"sepalLength": 4.9 "sepalWidth": 3.1 "petalLength": 1.5 "petalWidth": 0.1 "species": "setosa"} NaN

In [11]:
# tail

df = pd.read_csv('iris.json')

print(df.tail(10))

                                                                                                       [
  {"sepalLength": 6.9 "sepalWidth": 3.1 "petalLength": 5.1 "petalWidth": 2.3 "species": "virginica"} NaN
  {"sepalLength": 5.8 "sepalWidth": 2.7 "petalLength": 5.1 "petalWidth": 1.9 "species": "virginica"} NaN
  {"sepalLength": 6.8 "sepalWidth": 3.2 "petalLength": 5.9 "petalWidth": 2.3 "species": "virginica"} NaN
  {"sepalLength": 6.7 "sepalWidth": 3.3 "petalLength": 5.7 "petalWidth": 2.5 "species": "virginica"} NaN
                      "sepalWidth": 3.0 "petalLength": 5.2 "petalWidth": 2.3 "species": "virginica"} NaN
  {"sepalLength": 6.3 "sepalWidth": 2.5 "petalLength": 5.0 "petalWidth": 1.9 "species": "virginica"} NaN
  {"sepalLength": 6.5 "sepalWidth": 3.0 "petalLength": 5.2 "petalWidth": 2.0 "species": "virginica"} NaN
  {"sepalLength": 6.2 "sepalWidth": 3.4 "petalLength": 5.4 "petalWidth": 2.3 "species": "virginica"} NaN
  {"sepalLength": 5.9 "sepalWidth": 3.0 "petalLength": 5.1 "petalWidth": 1.8 "species": "virginica"} NaN
]                     NaN               NaN                NaN               NaN                     NaN

In [13]:
# Info About the Data

df = pd.read_csv('data.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [6]:
# Pandas - Cleaning Empty Cells

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [4]:
df = pd.read_csv('data.csv')

df.dropna(inplace = True)

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [23]:
# Replace Empty Values

df= pd.read_csv('data.csv')

df.fillna(130, inplace = True)

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     130.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     130.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     130.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     130.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     130.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [29]:
df= pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     130.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     130.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     130.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     130.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     130.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

C:\Users\Pc\AppData\Local\Temp\ipykernel_10168\3481583549.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calories"].fillna(130, inplace = True)

In [26]:
# Mean

df= pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

print(df.to_string())

     Duration  Pulse  Maxpulse     Calories
0          60    110       130   409.100000
1          60    117       145   479.000000
2          60    103       135   340.000000
3          45    109       175   282.400000
4          45    117       148   406.000000
5          60    102       127   300.000000
6          60    110       136   374.000000
7          45    104       134   253.300000
8          30    109       133   195.100000
9          60     98       124   269.000000
10         60    103       147   329.300000
11         60    100       120   250.700000
12         60    106       128   345.300000
13         60    104       132   379.300000
14         60     98       123   275.000000
15         60     98       120   215.200000
16         60    100       120   300.000000
17         45     90       112   375.790244
18         60    103       123   323.000000
19         45     97       125   243.000000
20         60    108       131   364.200000
21         45    100       119   282.000000
22         60    130       101   300.000000
23         45    105       132   246.000000
24         60    102       126   334.500000
25         60    100       120   250.000000
26         60     92       118   241.000000
27         60    103       132   375.790244
28         60    100       132   280.000000
29         60    102       129   380.300000
30         60     92       115   243.000000
31         45     90       112   180.100000
32         60    101       124   299.000000
33         60     93       113   223.000000
34         60    107       136   361.000000
35         60    114       140   415.000000
36         60    102       127   300.000000
37         60    100       120   300.000000
38         60    100       120   300.000000
39         45    104       129   266.000000
40         45     90       112   180.100000
41         60     98       126   286.000000
42         60    100       122   329.400000
43         60    111       138   400.000000
44         60    111       131   397.000000
45         60     99       119   273.000000
46         60    109       153   387.600000
47         45    111       136   300.000000
48         45    108       129   298.000000
49         60    111       139   397.600000
50         60    107       136   380.200000
51         80    123       146   643.100000
52         60    106       130   263.000000
53         60    118       151   486.000000
54         30    136       175   238.000000
55         60    121       146   450.700000
56         60    118       121   413.000000
57         45    115       144   305.000000
58         20    153       172   226.400000
59         45    123       152   321.000000
60        210    108       160  1376.000000
61        160    110       137  1034.400000
62        160    109       135   853.000000
63         45    118       141   341.000000
64         20    110       130   131.400000
65        180     90       130   800.400000
66        150    105       135   873.400000
67        150    107       130   816.000000
68         20    106       136   110.400000
69        300    108       143  1500.200000
70        150     97       129  1115.000000
71         60    109       153   387.600000
72         90    100       127   700.000000
73        150     97       127   953.200000
74         45    114       146   304.000000
75         90     98       125   563.200000
76         45    105       134   251.000000
77         45    110       141   300.000000
78        120    100       130   500.400000
79        270    100       131  1729.000000
80         30    159       182   319.200000
81         45    149       169   344.000000
82         30    103       139   151.100000
83        120    100       130   500.000000
84         45    100       120   225.300000
85         30    151       170   300.000000
86         45    102       136   234.000000
87        120    100       157  1000.100000
88         45    129       103   242.000000
89         20     83       107    50.300000
90        180    101       127   600.100000
91         45    107       137   375.790244
92         30     90       107   105.300000
93         15     80       100    50.500000
94         20    150       171   127.400000
95         20    151       168   229.400000
96         30     95       128   128.200000
97         25    152       168   244.200000
98         30    109       131   188.200000
99         90     93       124   604.100000
100        20     95       112    77.700000
101        90     90       110   500.000000
102        90     90       100   500.000000
103        90     90       100   500.400000
104        30     92       108    92.700000
105        30     93       128   124.000000
106       180     90       120   800.300000
107        30     90       120    86.200000
108        90     90       120   500.300000
109       210    137       184  1860.400000
110        60    102       124   325.200000
111        45    107       124   275.000000
112        15    124       139   124.200000
113        45    100       120   225.300000
114        60    108       131   367.600000
115        60    108       151   351.700000
116        60    116       141   443.000000
117        60     97       122   277.400000
118        60    105       125   375.790244
119        60    103       124   332.700000
120        30    112       137   193.900000
121        45    100       120   100.700000
122        60    119       169   336.700000
123        60    107       127   344.900000
124        60    111       151   368.500000
125        60     98       122   271.000000
126        60     97       124   275.300000
127        60    109       127   382.000000
128        90     99       125   466.400000
129        60    114       151   384.000000
130        60    104       134   342.500000
131        60    107       138   357.500000
132        60    103       133   335.000000
133        60    106       132   327.500000
134        60    103       136   339.000000
135        20    136       156   189.000000
136        45    117       143   317.700000
137        45    115       137   318.000000
138        45    113       138   308.000000
139        20    141       162   222.400000
140        60    108       135   390.000000
141        60     97       127   375.790244
142        45    100       120   250.400000
143        45    122       149   335.400000
144        60    136       170   470.200000
145        45    106       126   270.800000
146        60    107       136   400.000000
147        60    112       146   361.900000
148        30    103       127   185.000000
149        60    110       150   409.400000
150        60    106       134   343.000000
151        60    109       129   353.200000
152        60    109       138   374.000000
153        30    150       167   275.800000
154        60    105       128   328.000000
155        60    111       151   368.500000
156        60     97       131   270.400000
157        60    100       120   270.400000
158        60    114       150   382.800000
159        30     80       120   240.900000
160        30     85       120   250.400000
161        45     90       130   260.400000
162        45     95       130   270.000000
163        45    100       140   280.900000
164        60    105       140   290.800000
165        60    110       145   300.000000
166        60    115       145   310.200000
167        75    120       150   320.400000
168        75    125       150   330.400000

C:\Users\Pc\AppData\Local\Temp\ipykernel_8960\514327960.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calories"].fillna(x, inplace = True)

In [59]:
# Date Time

df = pd.read_csv('todatetime.csv')

df["Date"] = pd.to_datetime(df['Date'])

print(df.to_string())

          Date      Time
0   1993-08-06  12:42 PM
1   1996-03-31   6:53 AM
2   1993-04-23  11:17 AM
3   2005-03-04   1:00 PM
4   1998-01-24   4:47 PM
5   1987-04-18   1:35 AM
6   1987-08-17   4:20 PM
7   2015-07-20  10:43 AM
8   2005-11-22   6:29 AM
9   2002-08-08   6:51 AM
10  1980-08-12   9:01 AM
11  1997-10-26   3:19 PM
12  1980-12-01   1:08 AM
13  2008-01-27  11:40 PM
14  1999-01-14   7:13 AM
15  2016-06-05   6:09 AM
16  2010-09-21   5:56 AM
17  1986-12-07   7:45 PM
18  1981-10-23  10:27 AM
19  2010-07-22   3:48 AM
20  1995-04-22   7:18 PM
21  1995-09-05   2:12 AM
22  2012-03-08   1:58 AM
23  2012-06-14   4:19 PM
24  1992-07-01  10:08 PM
25  2012-10-08   1:12 AM
26  2000-02-27   7:45 AM
27  1991-07-11   6:58 PM
28  1981-11-27   6:30 PM
29  2005-01-26  10:06 PM
30  2002-08-06   1:19 PM
31  2005-02-20   2:40 PM
32  1998-08-21   2:27 PM
33  1993-12-18   9:07 AM
34  2004-01-10  12:56 PM
35  2006-10-10   1:12 AM
36  2009-02-16   8:47 PM
37  1981-10-19   8:49 PM
38  1986-09-13   1:52 AM
39  2016-01-29   2:33 AM
40  2008-10-10  11:25 AM
41  2015-06-28   1:08 AM
42  1998-09-09   8:26 PM
43  1980-12-07   3:16 AM
44  1988-11-16   6:54 PM
45  1980-04-17  11:32 AM
46  2009-11-28  10:47 PM
47  2005-06-22   4:51 AM
48  1996-03-26   5:57 AM
49  1980-01-24  12:13 PM
50  2000-09-23   8:05 AM
51  2011-12-17   8:29 AM
52  1990-02-18   2:41 AM
53  2014-03-03   1:28 PM
54  2007-08-15   9:23 AM
55  1999-11-30   7:46 AM
56  2006-05-03   5:55 PM
57  1996-06-26   1:44 AM
58  2010-04-11   7:18 AM
59  1997-05-07   9:32 AM
60  2005-11-23   2:01 PM
61  2001-11-06  12:03 PM
62  2007-06-12   5:25 PM
63  2013-01-02  10:33 PM
64  1990-04-11   6:46 PM
65  2009-11-11  11:44 PM
66  2012-12-15  11:57 PM
67  1999-08-16   6:53 AM
68  2004-10-30   1:39 PM
69  2015-07-14   4:31 PM
70  2003-06-10   2:26 PM
71  2009-11-06   4:23 PM
72  2007-05-07  10:01 AM
73  1999-04-04   4:19 PM
74  1995-06-04   2:24 PM
75  1991-07-02   1:27 AM
76  1988-09-10  12:42 PM
77  2004-09-14   8:13 PM
78  1983-06-04   3:15 PM
79  1988-11-13   3:30 PM
80  1995-03-17  12:50 AM
81  2008-03-30  10:52 AM
82  1980-03-30   9:20 PM
83  2005-09-23   2:55 AM
84  2004-08-20   5:51 AM
85  2008-02-01   8:50 AM
86  2007-09-29  12:11 AM
87  1993-01-30   2:05 AM
88  1991-11-27   1:59 PM
89  2016-03-12  12:40 AM
90  1997-08-21   5:12 AM
91  2005-01-26  11:00 PM
92  2000-05-25   5:45 PM
93  1994-05-07   5:58 PM
94  1981-08-26   3:16 PM
95  1998-07-11   2:17 PM
96  1994-03-21   8:34 AM
97  2014-07-19   9:23 PM
98  2016-06-16   7:47 PM
99  1985-01-02   9:40 PM
100 2005-06-21   6:33 AM
101 2012-02-17  10:20 AM
102 1997-01-12   5:51 AM
103 1996-10-11   9:30 PM
104 1989-12-23   7:01 AM
105 1996-03-09   4:33 AM
106 1993-08-04   7:25 PM
107 2013-04-23  10:12 PM
108 1988-05-05   7:57 AM
109 2000-04-22  10:15 AM
110 2001-06-20  10:39 PM
111 1999-12-17   3:12 PM
112 2003-11-27   6:21 AM
113 2009-06-12   7:16 AM
114 2002-08-04  11:00 AM
115 1982-07-01   6:51 AM
116 1991-06-22   8:58 PM
117 1995-03-01   3:03 PM
118 2012-01-12   5:43 AM
119 2008-06-03   3:05 PM
120 1994-11-17   6:15 PM
121 2016-05-09   8:55 AM
122 2012-04-13   2:04 PM
123 2001-11-29   2:30 AM
124 1983-11-16   8:29 AM
125 2003-09-01   6:46 AM
126 1984-03-30   6:43 PM
127 2002-09-29   4:09 PM
128 1987-08-25   9:16 PM
129 1988-10-25   1:50 PM
130 1984-05-01   1:15 PM
131 1992-07-10  12:23 AM
132 1995-01-04   7:02 AM
133 1987-12-25   4:16 PM
134 2011-04-09   5:38 AM
135 2007-06-29   5:34 AM
136 1995-04-24   4:18 AM
137 2011-05-21   1:45 AM
138 2006-05-25  11:30 AM
139 1990-10-03   1:08 AM
140 1981-02-28   1:23 PM
141 1990-12-24   8:57 PM
142 2003-10-09   5:53 PM
143 2016-01-28  10:55 AM
144 1982-03-05   2:28 PM
145 2009-04-04  10:47 PM
146 1992-11-25   2:24 AM
147 2008-07-17   1:30 PM
148 1991-07-14   2:24 AM
149 2014-08-17   2:00 PM
150 1996-05-04   8:59 PM
151 1997-11-03   8:17 PM
152 1999-08-19   4:03 AM
153 2011-03-10   8:40 PM
154 1980-11-15   4:13 AM
155 2003-03-16  12:12 AM
156 1992-04-27   1:10 AM
157 2005-07-27   8:32 AM
158 1999-02-28   8:45 PM
159 1983-11-22  10:52 PM
160 2000-03-18   7:26 PM
161 1999-08-22   9:09 AM
162 1998-04-13  11:28 AM
163 1990-09-03   9:15 PM
164 1999-08-13   1:03 AM
165 2014-03-23   1:28 PM
166 1991-07-09   6:52 PM
167 2011-12-24  12:22 PM
168 1987-09-03   5:59 PM
169 1996-11-04   9:34 PM
170 1992-01-29  11:36 AM
171 2007-08-17   3:16 AM
172 1991-09-23   6:17 PM
173 2008-12-21   6:51 PM
174 2007-09-18   6:59 PM
175 1998-02-17   8:20 PM
176 2003-01-08   1:02 PM
177 2012-04-07   8:00 AM
178 1997-09-03   2:01 AM
179 1995-10-23   5:53 AM
180 2008-04-12   5:40 PM
181 1999-11-14  12:12 PM
182 1999-06-19   4:44 PM
183 1999-05-18   5:56 AM
184 2003-12-18   6:46 AM
185 1983-01-19   7:25 AM
186 2005-02-23   9:50 PM
187 2004-11-19   3:55 PM
188 2000-10-14   9:40 PM
189 1998-05-02   3:16 AM
190 1996-03-19   3:39 AM
191 2013-10-18   4:51 PM
192 2003-05-03   7:32 PM
193 1995-02-18   6:50 AM
194 2004-01-30   8:25 PM
195 2014-04-30   2:19 PM
196 1985-11-10  10:53 AM
197 2012-11-06   3:51 AM
198 1990-12-27   9:57 PM
199 2009-07-17   8:15 AM
200 1987-08-12  12:04 AM
201 1997-07-15   5:57 AM
202 1982-11-08   2:32 AM
203 2013-01-04   7:53 AM
204 2006-06-06   9:45 AM
205 2006-03-27   5:54 PM
206 2012-12-06   4:01 AM
207 1999-11-14   8:15 AM
208 1987-10-12   2:59 AM
209 2007-09-20  11:25 AM
210 1986-08-12   7:29 PM
211 2006-06-24  12:04 PM
212 2009-11-02   9:42 AM
213 1980-05-24  11:10 PM
214 1989-07-23   1:52 PM
215 2009-05-30  11:41 PM
216 2013-07-31   8:04 AM
217 1999-09-03   4:00 PM
218 1992-06-15   5:08 AM
219 1995-03-13  12:05 PM
220 1991-06-17  12:49 PM
221 2000-01-29   6:01 AM
222 1999-10-17  10:09 PM
223 2010-04-30   3:48 AM
224 1995-09-14   7:50 AM
225 2015-10-01   7:47 PM
226 1995-04-19  12:46 AM
227 1999-04-13  10:31 AM
228 1994-09-23   1:29 AM
229 2000-06-08  12:15 AM
230 1988-02-24  11:29 AM
231 1993-04-18   3:22 AM
232 1997-04-04   9:28 PM
233 2004-02-04   1:47 PM
234 1982-02-04   5:26 PM
235 2015-02-11  11:44 PM
236 2006-04-02   1:57 PM
237 2008-09-23   2:57 AM
238 1982-03-25   7:31 AM
239 2016-05-12   3:43 PM
240 1984-04-21   7:05 PM
241 1983-07-06  11:54 PM
242 1990-10-27   7:15 PM
243 1986-10-07   5:53 PM
244 1996-10-08  12:53 PM
245 1991-04-11   7:44 AM
246 1984-12-02   2:03 PM
247 2010-07-27  11:07 PM
248 1992-12-06   5:58 PM
249 2002-06-12   3:59 AM
250 1986-02-06   3:04 PM
251 1990-03-01   3:46 AM
252 2004-11-11   1:35 AM
253 2003-04-28   3:01 AM
254 1985-05-27  10:13 PM
255 2009-03-20   7:57 AM
256 1998-03-13  11:16 PM
257 1999-11-25   6:16 AM
258 2002-01-24   3:04 AM
259 1995-02-06   8:34 AM
260 2007-03-27   1:44 AM
261 1995-08-06   1:58 PM
262 1986-07-16   2:08 PM
263 1985-11-21   1:08 PM
264 1983-03-24  11:15 AM
265 2004-09-23   1:31 PM
266 2009-08-05   8:14 AM
267 2005-02-04   1:01 PM
268 1982-03-03   8:26 AM
269 1992-08-02   8:35 PM
270 2011-04-06   1:04 PM
271 2001-11-20  10:18 AM
272 1980-02-20   2:25 AM
273 1994-04-12   8:21 PM
274 1982-10-05   7:22 AM
275 1994-02-22  10:25 PM
276 1989-07-03   4:01 AM
277 1991-05-29   6:32 AM
278 2005-06-28   6:03 PM
279 2000-11-08   7:35 PM
280 1997-07-12   2:07 AM
281 2014-01-01   7:46 PM
282 2014-02-07   3:57 AM
283 2009-03-11   3:43 AM
284 2005-10-06   9:33 PM
285 1997-09-16  12:10 AM
286 1984-02-02  10:13 AM
287 2011-11-09   7:06 AM
288 1999-12-21  10:33 PM
289 1985-09-27   1:35 PM
290 1988-06-14   6:20 PM
291 1984-11-11  10:30 AM
292 2000-03-07   6:45 AM
293 1999-10-25   3:35 PM
294 1999-10-20   6:23 AM
295 1981-03-02   7:26 PM
296 1996-11-10   1:49 PM
297 2007-09-15  10:16 PM
298 2004-08-30  11:43 AM
299 1988-01-13   6:42 AM
300 1988-06-26   3:54 AM
301 2015-07-11   8:52 PM
302 2007-07-05  11:59 AM
303 1980-07-25  12:22 PM
304 1981-08-12  12:05 AM
305 1993-02-06   1:05 PM
306 1984-04-01   1:21 PM
307 1981-09-26   2:23 AM
308 2009-09-08  10:16 AM
309 1984-09-11   6:37 AM
310 1990-02-20  11:00 PM
311 2002-01-18   1:51 AM
312 2001-04-16  10:09 PM
313 1991-07-01   2:33 AM
314 1996-03-31   5:40 PM
315 1995-09-01   2:09 PM
316 2013-10-03   8:05 PM
317 2013-12-18   3:09 PM
318 2006-08-06   7:52 AM
319 1981-11-25   3:01 PM
320 2008-07-08  11:40 PM
321 1986-03-23   9:26 AM
322 2002-01-08   6:42 PM
323 1990-12-16   2:20 AM
324 1988-12-10   8:27 PM
325 2005-01-02   1:48 AM
326 1997-06-18   8:01 PM
327 1994-01-29   6:48 PM
328 1991-12-19   2:54 AM
329 2010-01-27   2:57 AM
330 2014-03-16   6:24 PM
331 1983-09-03   1:58 PM
332 1987-02-13   2:15 PM
333 1986-06-08   2:25 AM
334 2011-05-23   4:14 PM
335 2014-11-18   5:00 AM
336 2007-01-22   2:37 PM
337 2000-01-05   5:46 PM
338 2005-09-27   1:41 AM
339 1991-11-22  12:57 PM
340 2009-05-12   2:14 PM
341 2007-09-19   1:01 AM
342 2011-10-20  10:09 PM
343 2009-02-24   2:09 PM
344 2009-05-12   4:36 AM
345 2006-11-21   8:30 AM
346 1998-11-22   3:48 AM
347 1988-03-31  10:59 PM
348 1989-08-02  11:21 AM
349 2005-11-24  11:57 PM
350 1995-08-31   8:31 PM
351 2012-12-03  11:03 PM
352 2011-10-09   9:29 AM
353 1997-04-22   9:36 PM
354 2005-11-10   4:56 AM
355 2003-09-14  10:30 PM
356 1990-02-01   3:32 PM
357 2014-08-13   3:51 PM
358 2011-12-17   3:45 AM
359 1994-05-22   7:06 AM
360 2004-09-25   1:30 AM
361 2014-05-05   6:01 AM
362 2009-11-09   6:32 AM
363 2005-04-15   8:43 PM
364 2002-04-16  11:09 PM
365 1983-07-19   1:57 AM
366 1989-01-24   8:38 PM
367 1989-08-04   6:06 AM
368 1982-12-17  12:10 PM
369 2009-10-18   6:32 PM
370 2009-07-15  10:12 PM
371 2003-08-27   1:00 PM
372 1997-02-01   4:20 PM
373 1999-04-13  10:28 PM
374 2006-12-31  11:02 PM
375 2011-07-09  11:31 PM
376 2015-10-16   2:44 AM
377 1987-04-09  12:47 PM
378 1994-10-30   5:46 AM
379 2002-09-18  12:39 PM
380 2001-07-15   1:33 PM
381 1996-08-03   1:50 AM
382 1996-04-18   3:57 PM
383 2010-07-28   3:08 PM
384 1980-12-24  10:58 PM
385 2010-01-19   8:48 AM
386 1995-01-15   5:27 AM
387 1994-10-29   4:26 AM
388 1989-09-19   7:40 PM
389 1984-10-28   5:59 PM
390 2001-04-26  12:22 AM
391 1989-08-15   9:14 AM
392 2010-10-27  10:28 AM
393 1996-12-05   5:45 AM
394 1998-01-08   2:12 AM
395 2001-11-25   9:55 PM
396 2002-07-06   3:57 PM
397 2005-01-13   9:00 AM
398 1992-07-29   6:40 PM
399 1988-06-09   9:29 AM
400 2004-03-16   8:21 AM
401 1996-04-16   5:40 AM
402 1992-11-28   5:05 PM
403 1984-02-08   4:45 AM
404 1990-07-20  10:49 PM
405 2014-03-09   4:39 PM
406 2010-08-22   8:03 AM
407 2002-02-23   3:55 AM
408 2010-12-05   4:20 PM
409 1994-05-29   6:24 AM
410 2012-08-14  11:25 AM
411 1981-06-23   8:26 PM
412 2007-02-11   2:01 AM
413 1992-09-14   8:21 AM
414 2011-08-18   8:12 AM
415 1990-11-16   6:01 PM
416 2008-06-29   5:23 AM
417 1981-08-31   2:51 PM
418 1982-03-02  12:52 PM
419 2013-11-05  10:50 PM
420 1986-05-22   6:30 AM
421 1986-11-20   6:59 PM
422 2005-09-24  12:04 PM
423 1980-11-25   4:33 AM
424 2003-06-09   7:35 AM
425 1986-05-02   1:50 AM
426 2016-03-16   2:45 PM
427 1981-01-10   1:30 PM
428 1999-05-13  10:48 AM
429 2015-05-28   8:40 AM
430 2010-10-01  11:54 AM
431 1999-12-16   8:28 PM
432 2015-03-07   8:45 PM
433 2008-07-20   1:44 PM
434 1995-02-07   7:38 AM
435 2006-12-01   3:32 PM
436 2007-08-29   6:10 AM
437 2001-03-18  12:02 AM
438 1998-11-20   2:54 PM
439 2013-03-01   9:26 PM
440 1990-07-22   2:53 PM
441 2003-05-13   9:47 AM
442 1998-04-23   5:52 AM
443 1987-05-08   6:19 PM
444 2016-05-24   9:17 PM
445 2006-12-12   1:57 AM
446 1994-08-16   8:33 AM
447 2009-05-15   3:52 PM
448 1992-01-30   3:01 PM
449 2005-11-30   2:57 AM
450 2009-08-22   1:03 PM
451 2016-07-15  12:29 AM
452 2012-11-17   2:47 PM
453 1994-12-19   6:19 AM
454 1995-02-21  12:26 AM
455 2000-10-24   4:13 AM
456 1983-02-03  11:38 PM
457 2015-01-09   4:16 AM
458 2007-09-30   5:34 PM
459 1987-03-01   1:00 PM
460 2005-01-17   9:11 AM
461 2001-08-09   3:56 AM
462 1996-04-14   9:17 AM
463 2002-07-11   9:15 AM
464 2005-05-13   1:25 AM
465 1997-10-31   2:43 AM
466 2007-08-04   1:59 PM
467 2002-06-19   3:06 AM
468 1997-06-28   1:48 PM
469 2015-05-09   7:07 PM
470 1993-07-20  10:18 PM
471 2002-03-12   6:32 AM
472 1984-07-10   7:22 PM
473 1992-08-20   8:23 PM
474 2002-08-15  12:01 AM
475 1992-11-26  12:54 AM
476 1996-10-25  12:59 PM
477 2008-08-14   5:43 PM
478 2011-05-22  10:42 AM
479 1997-07-04  11:47 AM
480 2008-03-30  10:54 PM
481 2013-04-27   6:40 AM
482 1995-05-03   5:49 AM
483 1992-04-26   8:01 PM
484 2000-04-14   3:14 PM
485 1997-08-15   9:48 PM
486 2012-04-09   6:36 AM
487 2014-12-03   9:27 AM
488 2007-03-11  11:20 AM
489 2011-07-01   9:50 AM
490 2007-11-23   1:22 PM
491 1989-09-09   7:12 PM
492 1995-01-30   7:51 PM
493 2005-11-01  11:31 PM
494 2002-03-21   8:02 AM
495 1984-05-24  10:54 AM
496 2016-02-26   7:39 PM
497 2013-05-05   3:28 PM
498 1994-06-13   4:21 PM
499 1980-12-10  11:04 PM
500 2003-02-01   1:11 PM
501 2013-02-11   7:07 PM
502 1980-11-03   2:47 PM
503 2015-08-03   4:56 PM
504 2014-06-24  10:05 AM
505 1980-04-20   1:17 PM
506 1995-07-14   7:51 AM
507 2015-11-03  12:11 AM
508 1996-11-23   7:36 PM
509 1984-11-04  12:17 PM
510 2003-04-27  12:04 PM
511 1983-07-04   7:32 AM
512 1993-04-06   3:11 AM
513 2013-11-19   7:29 PM
514 1984-12-25  10:52 AM
515 1999-01-08   2:05 AM
516 1992-04-12   8:26 PM
517 1996-12-12  10:07 AM
518 1995-01-19  12:37 AM
519 2009-02-16  10:38 PM
520 2003-02-22   9:09 AM
521 1981-09-25   9:59 AM
522 2013-08-31   7:24 PM
523 1982-07-05   4:56 PM
524 2014-10-13   9:33 PM
525 1995-08-22   6:58 AM
526 2004-03-22   8:11 AM
527 1993-12-02   1:42 PM
528 1983-08-26   2:48 AM
529 2014-04-23   7:52 AM
530 2014-06-13   9:16 AM
531 2010-05-02   9:10 PM
532 2005-02-26   6:33 PM
533 2014-02-11   9:03 PM
534 1992-01-08   3:50 PM
535 1981-09-18   5:47 AM
536 1982-08-26   9:47 AM
537 1991-09-14   1:08 PM
538 2010-10-08   9:53 PM
539 1999-09-06  10:30 AM
540 2009-12-02   3:30 AM
541 1999-05-01   3:36 AM
542 2004-08-01   1:32 PM
543 2008-04-15   2:34 PM
544 2010-07-03   5:11 PM
545 1999-02-04   5:35 PM
546 1992-09-10   6:50 PM
547 1998-09-22   7:55 PM
548 1984-01-02   9:06 PM
549 1980-02-25  10:50 PM
550 1984-06-18   3:46 AM
551 1985-07-18   6:36 AM
552 1991-09-02   3:41 PM
553 2002-06-07   7:46 AM
554 1985-10-25   7:11 AM
555 1996-10-26   8:09 PM
556 2014-12-16   4:56 PM
557 1994-06-01   8:39 AM
558 1985-08-18   4:34 AM
559 1999-11-17   9:18 PM
560 2009-12-03  10:24 AM
561 1996-09-20   3:45 PM
562 1983-10-07   1:35 PM
563 2002-05-02   7:39 PM
564 1985-03-29   6:57 PM
565 2006-08-09  11:24 AM
566 1995-01-08   1:35 PM
567 1980-04-01   8:04 PM
568 1986-04-18   9:31 AM
569 1980-07-07   3:42 AM
570 1996-08-16   3:09 AM
571 1995-04-06  10:38 PM
572 1996-01-13   4:14 PM
573 1981-12-30   4:51 AM
574 2009-01-13   1:01 PM
575 1995-01-22  12:17 AM
576 1993-07-30   5:35 PM
577 2003-05-04   4:29 AM
578 1982-03-17  11:46 PM
579 2010-10-18   8:45 PM
580 1985-01-27   8:18 PM
581 1990-01-28  12:08 AM
582 1982-11-19  11:25 AM
583 1988-02-02   6:14 PM
584 2012-05-30   3:17 AM
585 1988-04-16  11:09 AM
586 2004-10-30   4:34 PM
587 1982-07-23   6:28 AM
588 1980-05-23   3:19 AM
589 1995-04-24   7:14 PM
590 1994-10-30  11:23 AM
591 1988-04-22  12:01 PM
592 1981-05-24  11:15 PM
593 2000-11-23   5:06 AM
594 2011-04-15   5:02 AM
595 1985-05-07  10:20 PM
596 1984-10-03   5:31 AM
597 1987-06-24   7:37 PM
598 2001-07-21   2:34 AM
599 1990-10-11  10:57 PM
600 1994-12-20  10:09 AM
601 1980-06-15   6:00 PM
602 2003-07-21   3:50 PM
603 1991-10-26   8:11 AM
604 2013-03-15  11:13 PM
605 1982-05-20   9:14 AM
606 1981-02-21   3:30 AM
607 1983-10-13  11:59 PM
608 1993-10-24   5:17 PM
609 2010-02-16  11:29 AM
610 2012-02-17  12:26 AM
611 1981-02-16   3:58 AM
612 2000-10-21   1:15 AM
613 1992-01-03   3:47 PM
614 2004-11-12   9:16 PM
615 2001-08-30   1:24 AM
616 1986-12-06   2:23 PM
617 2001-01-14   5:11 AM
618 1992-11-24   5:43 PM
619 1990-10-22   2:45 PM
620 2012-03-07   2:25 AM
621 1997-08-10  11:00 PM
622 2005-06-23  11:03 AM
623 2006-11-29   2:14 PM
624 1997-11-26   8:22 AM
625 2015-06-29   6:38 AM
626 1997-04-13   8:03 AM
627 1984-11-21  12:30 PM
628 1988-09-02  12:49 PM
629 1983-03-12  12:19 PM
630 1988-07-13   1:48 PM
631 2008-03-06   1:20 AM
632 1990-02-23   3:21 PM
633 2011-11-17   2:37 PM
634 1987-03-30   5:59 PM
635 2000-09-27   3:04 AM
636 1984-07-02   4:06 PM
637 2009-09-02   1:37 AM
638 1996-11-12   6:08 PM
639 1991-08-11   2:15 PM
640 2004-08-28  10:49 AM
641 1995-01-25   5:06 AM
642 2010-03-16   9:17 AM
643 1987-09-29  10:11 PM
644 1996-08-13  12:21 AM
645 1985-03-13   9:19 AM
646 2010-02-21   7:02 AM
647 1988-04-06  10:00 AM
648 1999-11-15   5:22 PM
649 2004-02-17   5:38 AM
650 1986-07-05   1:24 AM
651 1985-11-21   1:40 PM
652 2009-12-05   5:39 AM
653 2006-05-28   6:51 AM
654 1984-12-14   8:49 PM
655 2007-09-24  11:16 PM
656 1982-02-09   6:44 PM
657 2000-03-05  10:33 AM
658 1986-10-19   9:58 PM
659 2009-08-27   3:41 PM
660 1986-12-24   7:02 PM
661 1995-08-21   2:38 AM
662 2000-12-19   1:40 AM
663 1989-08-31  11:10 PM
664 2010-10-06  10:49 PM
665 2013-02-13   1:35 PM
666 2004-02-04  11:02 AM
667 2009-02-04   2:03 AM
668 2001-12-05   7:06 AM
669 1982-03-28   1:05 PM
670 2001-09-14   3:22 AM
671 2000-07-12   6:07 PM
672 1982-11-05  12:41 PM
673 1996-03-24  11:54 AM
674 2012-08-28   7:56 PM
675 2009-10-30   6:56 PM
676 1992-06-06  10:04 AM
677 1994-09-20   6:07 PM
678 1984-04-17   7:12 AM
679 2002-09-11   7:36 AM
680 1992-06-17   3:25 AM
681 2002-11-23   6:10 PM
682 2000-04-23   6:55 PM
683 2005-12-20   2:42 PM
684 2016-01-21   5:07 PM
685 1989-10-20   9:37 AM
686 2011-02-18  12:23 PM
687 1996-12-27   7:07 AM
688 2007-04-07  10:47 PM
689 1980-05-08   6:31 AM
690 2007-01-28  11:10 PM
691 2007-10-02   2:53 AM
692 2007-05-15   6:37 PM
693 1995-10-16   9:19 PM
694 2011-11-12  12:35 AM
695 1999-04-06  11:17 AM
696 2012-05-25   4:40 PM
697 1990-05-23   2:09 AM
698 2002-08-02   5:13 AM
699 1984-05-19  11:47 AM
700 2009-03-02   9:15 PM
701 2005-09-16   1:26 AM
702 2011-03-17   1:12 PM
703 2004-05-31   3:36 PM
704 1991-09-07   9:51 AM
705 2015-09-23   1:36 AM
706 1993-07-04   6:53 PM
707 1998-03-07   1:10 AM
708 2002-01-11   9:17 PM
709 1995-04-07   4:32 AM
710 1997-11-27   1:00 AM
711 2014-01-09  10:09 PM
712 2001-02-06   4:17 AM
713 1994-09-28   5:44 AM
714 1984-07-30   6:02 PM
715 1982-03-22   7:28 AM
716 1993-06-15   3:56 AM
717 1988-04-15   8:16 PM
718 2010-10-21  11:18 PM
719 1999-01-29   3:07 AM
720 1983-04-08   2:01 PM
721 2010-04-16   5:13 AM
722 1997-06-27   3:23 PM
723 1992-09-05   2:32 AM
724 2001-12-10   6:40 AM
725 1991-05-19   1:40 PM
726 2016-02-29   4:04 AM
727 2004-05-10   1:22 PM
728 2008-10-08  12:22 AM
729 1986-09-07  12:32 AM
730 2009-04-26  12:40 AM
731 2001-07-16   9:27 AM
732 1986-05-12   2:04 AM
733 2009-06-17   1:00 PM
734 1994-12-18   8:42 PM
735 2002-11-26   5:32 AM
736 2011-04-05   1:44 AM
737 2011-07-23   3:41 AM
738 2010-10-10  11:12 PM
739 1981-01-25  10:00 AM
740 2009-05-09  11:59 AM
741 1999-07-10   7:02 PM
742 2016-02-25   6:29 PM
743 1980-05-30   8:25 PM
744 2011-07-15   3:38 PM
745 2008-02-16   2:49 AM
746 2004-08-19  10:31 AM
747 2001-06-30   1:46 PM
748 1997-07-17  11:11 PM
749 1986-01-25   5:48 AM
750 1983-02-05   6:39 PM
751 1999-08-06   3:18 AM
752 2007-02-23   3:24 AM
753 1999-06-06  10:54 PM
754 2007-04-11   1:04 AM
755 1984-02-19   6:22 AM
756 1984-10-21   6:26 AM
757 1988-04-12  11:32 PM
758 2007-08-18   8:01 AM
759 1980-09-02   6:52 AM
760 2006-12-29   3:05 AM
761 2015-03-31   7:43 PM
762 2004-11-10   4:33 AM
763 2008-07-27  12:08 PM
764 1988-05-02  10:04 PM
765 1995-04-23   6:35 AM
766 1991-07-25  12:45 AM
767 2008-07-12  12:10 PM
768 2004-03-26   5:41 PM
769 2002-10-07   3:08 AM
770 2006-09-22   8:08 PM
771 1991-05-22   1:39 AM
772 2009-08-14   5:41 AM
773 1986-10-24   9:23 AM
774 2000-06-18   7:36 AM
775 1999-11-03   9:06 AM
776 2004-09-30  10:52 PM
777 1986-04-20   3:55 PM
778 2003-12-28   4:17 AM
779 1984-09-08   7:03 PM
780 2009-07-05   4:55 AM
781 1995-07-03  10:55 PM
782 1986-05-06   4:41 PM
783 1991-04-15   3:39 AM
784 1982-09-14   8:14 AM
785 1982-07-24  12:00 AM
786 1989-09-07   4:17 PM
787 2005-07-01   3:22 PM
788 2012-03-31   6:28 AM
789 2000-07-08   9:19 PM
790 1989-03-03   2:27 AM
791 1982-11-04   9:46 PM
792 1996-04-18  11:57 PM
793 1999-07-22   9:25 AM
794 2004-03-01   5:17 PM
795 1995-10-07  10:16 AM
796 1986-08-31   6:20 PM
797 1982-12-31   6:50 PM
798 1984-10-01   2:06 PM

In [61]:
df = pd.DataFrame({"date" : ["21/12/2024", "22-12-2024", "2024-12-23"]})

df

         date
0  21/12/2024
1  22-12-2024
2  2024-12-23

In [5]:
import pandas as pd

data = {'Name' : ["Rinshan", "Mufeed", "Farhan", "Athul", "Saifu", "Yedhu", "Safvan", "Shan", "shijas", "Shahasad"],
        'Id' : [100, 102, 103, 104, 105, 106, 107, 108, 109, 110],
        'Posission' : ["CEO", "Chairman", "HR", "Manager", "A.Manager", "Developer", "CA", "S.Manager", "Accondend", "Expert"],
        'place' : ["Perumbilavu", "Puthanttani", "Ramanatukara", "Maalla", "Palakkad", "Aalappuzha", "Palakkad", "Tvm", "Perintalmanna", "Thrissur"],
        'Salary' : [80000, 60000, 55000, 52000, 50000, 40000, 49000, 45000, 30000, 33000]}

df = pd.DataFrame(data)

print(df)

       Name   Id  Posission          place  Salary
0   Rinshan  100        CEO    Perumbilavu   80000
1    Mufeed  102   Chairman    Puthanttani   60000
2    Farhan  103         HR   Ramanatukara   55000
3     Athul  104    Manager         Maalla   52000
4     Saifu  105  A.Manager       Palakkad   50000
5     Yedhu  106  Developer     Aalappuzha   40000
6    Safvan  107         CA       Palakkad   49000
7      Shan  108  S.Manager            Tvm   45000
8    shijas  109  Accondend  Perintalmanna   30000
9  Shahasad  110     Expert       Thrissur   33000

In [7]:
df.to_csv('emp.csv')

In [9]:
df = pd.read_csv('emp.csv')

print(df.to_string())

   Unnamed: 0      Name   Id  Posission          place  Salary
0           0   Rinshan  100        CEO    Perumbilavu   80000
1           1    Mufeed  102   Chairman    Puthanttani   60000
2           2    Farhan  103         HR   Ramanatukara   55000
3           3     Athul  104    Manager         Maalla   52000
4           4     Saifu  105  A.Manager       Palakkad   50000
5           5     Yedhu  106  Developer     Aalappuzha   40000
6           6    Safvan  107         CA       Palakkad   49000
7           7      Shan  108  S.Manager            Tvm   45000
8           8    shijas  109  Accondend  Perintalmanna   30000
9           9  Shahasad  110     Expert       Thrissur   33000

In [11]:
df.loc[2, 'Salary'] = -1000

print(df.to_string())

   Unnamed: 0      Name   Id  Posission          place  Salary
0           0   Rinshan  100        CEO    Perumbilavu   80000
1           1    Mufeed  102   Chairman    Puthanttani   60000
2           2    Farhan  103         HR   Ramanatukara   -1000
3           3     Athul  104    Manager         Maalla   52000
4           4     Saifu  105  A.Manager       Palakkad   50000
5           5     Yedhu  106  Developer     Aalappuzha   40000
6           6    Safvan  107         CA       Palakkad   49000
7           7      Shan  108  S.Manager            Tvm   45000
8           8    shijas  109  Accondend  Perintalmanna   30000
9           9  Shahasad  110     Expert       Thrissur   33000

In [13]:
df = pd.read_csv('emp.csv')

df.loc[2, 'Salary'] = 55000

print(df.to_string())

   Unnamed: 0      Name   Id  Posission          place  Salary
0           0   Rinshan  100        CEO    Perumbilavu   80000
1           1    Mufeed  102   Chairman    Puthanttani   60000
2           2    Farhan  103         HR   Ramanatukara   55000
3           3     Athul  104    Manager         Maalla   52000
4           4     Saifu  105  A.Manager       Palakkad   50000
5           5     Yedhu  106  Developer     Aalappuzha   40000
6           6    Safvan  107         CA       Palakkad   49000
7           7      Shan  108  S.Manager            Tvm   45000
8           8    shijas  109  Accondend  Perintalmanna   30000
9           9  Shahasad  110     Expert       Thrissur   33000

In [15]:
df.loc[2, 'Salary'] = df['Salary'].mean()     

print(df.to_string())

   Unnamed: 0      Name   Id  Posission          place  Salary
0           0   Rinshan  100        CEO    Perumbilavu   80000
1           1    Mufeed  102   Chairman    Puthanttani   60000
2           2    Farhan  103         HR   Ramanatukara   49400
3           3     Athul  104    Manager         Maalla   52000
4           4     Saifu  105  A.Manager       Palakkad   50000
5           5     Yedhu  106  Developer     Aalappuzha   40000
6           6    Safvan  107         CA       Palakkad   49000
7           7      Shan  108  S.Manager            Tvm   45000
8           8    shijas  109  Accondend  Perintalmanna   30000
9           9  Shahasad  110     Expert       Thrissur   33000

In [47]:
# Wrong Value Change Method

df = pd.read_csv('emp.csv')

for i in df.index:
    if df.loc[i, "Salary"] < 50000:
        df.loc[i, "Salary"] = 40000

print(df.to_string())

   Unnamed: 0      Name   Id  Posission          place  Salary
0           0   Rinshan  100        CEO    Perumbilavu   80000
1           1    Mufeed  102   Chairman    Puthanttani   60000
2           2    Farhan  103         HR   Ramanatukara   55000
3           3     Athul  104    Manager         Maalla   52000
4           4     Saifu  105  A.Manager       Palakkad   50000
5           5     Yedhu  106  Developer     Aalappuzha   40000
6           6    Safvan  107         CA       Palakkad   40000
7           7      Shan  108  S.Manager            Tvm   40000
8           8    shijas  109  Accondend  Perintalmanna   40000
9           9  Shahasad  110     Expert       Thrissur   40000

In [51]:
# Wrong Value Drop Method

for i in df.index:
    if df.loc[i, "Salary"] < 50000:
        df.drop(i, inplace = True)

print(df.to_string())

   Unnamed: 0     Name   Id  Posission         place  Salary
0           0  Rinshan  100        CEO   Perumbilavu   80000
1           1   Mufeed  102   Chairman   Puthanttani   60000
2           2   Farhan  103         HR  Ramanatukara   55000
3           3    Athul  104    Manager        Maalla   52000
4           4    Saifu  105  A.Manager      Palakkad   50000

# Pandas - Removing Duplicates

In [114]:
import pandas as pd

In [134]:
# Removing Duplicates

df=pd.read_csv('emp1.csv',index_col=[0])

print(df.to_string())
print(df.duplicated())

        Name   Id  Posission          place  Salary
0    Rinshan  100        CEO    Perumbilavu   80000
1    Rinshan  100        CEO    Perumbilavu   80000
2     Mufeed  102   Chairman    Puthanttani   60000
3     Farhan  103         HR   Ramanatukara   55000
4      Athul  104    Manager         Maalla   52000
5      Saifu  105  A.Manager       Palakkad   50000
6      Yedhu  106  Developer     Aalappuzha   40000
7     Safvan  107         CA       Palakkad   49000
8       Shan  108  S.Manager            Tvm   45000
9     shijas  109  Accondend  Perintalmanna   30000
10  Shahasad  110     Expert       Thrissur   33000
0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [143]:
df = pd.read_csv('emp1.csv',index_col=[0])

df.drop_duplicates(inplace = True)

print(df.to_string())

        Name   Id  Posission          place  Salary
0    Rinshan  100        CEO    Perumbilavu   80000
2     Mufeed  102   Chairman    Puthanttani   60000
3     Farhan  103         HR   Ramanatukara   55000
4      Athul  104    Manager         Maalla   52000
5      Saifu  105  A.Manager       Palakkad   50000
6      Yedhu  106  Developer     Aalappuzha   40000
7     Safvan  107         CA       Palakkad   49000
8       Shan  108  S.Manager            Tvm   45000
9     shijas  109  Accondend  Perintalmanna   30000
10  Shahasad  110     Expert       Thrissur   33000

In [132]:
# Removing Duplicates

df = pd.read_csv('data (1).csv')

print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [182]:
df = pd.read_csv('data (1).csv')

df.drop_duplicates(inplace = True)

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Pandas - Data Correlations

In [137]:
import pandas as pd

In [169]:
df = pd.read_csv('data.csv')

print(df.corr())

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000